/* General setup */

* {
  box-sizing: border-box;
}


@font-face {
  font-family: 'CustomFont';
  src: url('Berylium.ttf') format('truetype');
}

@font-face {
  font-family: 'Customfont';
  src: url('Acme-Regular.ttf') format('truetype');
}

html {
  font-size: 0.625rem;
}

body {
  font-family: 'CustomFont', serif;
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
 
  padding: 20px;
}

h1,h2{font-family: 'CustomFont', sans-serif;}

header{font-family: 'CustomFont', sans-serif;}
/* header and footer */

header, footer {
  
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */